.logo {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    float: left;
}

.container {
    min-height: 100vh !important;
}

.avarta{
    float: right;
}

.ant-layout-header{
    padding: 0 15px !important;
}

.ant-menu{
    background-color: black !important; 
}